
.socials {
    background-color: rgba(54, 54, 54, 0.911);
    text-align: center;
}

.socials p {
    line-height: 1.6;
    width: 60%;
    margin: 1rem auto;
    padding: 5rem 2rem 2rem 2rem;
    color: white;
    font-size: 1rem;
}

.social-btn {
    padding-bottom: 3rem;
}

.social-link {
    color: white;
    background-color: rgba(90, 222, 255, 0.938);
}

.network-list {
    display: inline-block;
    width: 49%;
    padding: 0;
}

.info {
    display: inline-block;
    width: 49%;
    text-align: right;
    color: gray;
}

.network-list li {
    display: inline-block;
    margin-left: 1rem;
}

.socialnetwork {
    padding: 1.3rem;
}

i {
    color: gray;
}
.social-btn {
    padding-bottom: 3rem;
}
.btn {
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 4px;
}