<footer>
    <section class="socials">
        <p><span>@Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Ut velit sint dolorum, temporibus voluptate nihil laboriosam voluptas repellendus, nemo reprehenderit inventore nam reiciendis laudantium nesciunt, corrupti doloribus.
            Nobis ducimus eveniet nemo iste! Labore quisquam fuga ipsum excepturi modi a? Magnam! </p>
        <div class=" social-btn">
            <a class="btn social-link" href="">Contact Me!</a>
        </div>
    </section>
    <section class="socialnetwork">
        <ul class="network-list">
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-telegram"></i></a></li>
  
        </ul>
        <p class="info">Lorem ipsum dolor sit.</p>
  
    </section>
  </footer>