<article class="box">
    <h1>About me</h1>
    <h2>works</h2>
    <h3>nilasoft</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem perspiciatis explicabo alias itaque nemo et sapiente error adipisci, vero laudantium delectus, quo fugiat possimus. Voluptates incidunt eligendi voluptas eius atque!</p>
    <h3>nilasoft</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis nihil maiores assumenda ab reiciendis obcaecati, ipsa molestiae, voluptatum earum perferendis? Voluptatum tenetur ipsa ea totam quasi odit velit deserunt nisi harum delectus.
        Cumque beatae veritatis vero nisi, mollitia facilis numquam, voluptatum aliquam asperiores, laborum cupiditate modi earum aliquid in.</p>
    <h3>nilasoft</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis exercitationem laborum eos omnis ad. Magni debitis qui neque assumenda deserunt repudiandae doloribus ut minus modi placeat veniam, itaque ducimus, iste fugit odio excepturi
        repellendus tenetur, aliquam est dolores quaerat voluptate. Veniam, iste a quibusdam provident voluptates, unde repudiandae voluptatum dolorem illo atque corrupti consectetur expedita dolor. Expedita quasi inventore, ipsam minus voluptatibus
        iste vel corporis harum repellat nostrum soluta nobis?</p>
    <h2>jobs</h2>
    <ol>
        <li>java script</li>
        <li>css</li>
        <li>html</li>
    </ol>
</article>
