<section class="projects">
    <ul class="project-list">
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
        <li class="project"><img src="\assets\images\20190320_174919_HDR_mix01.jpg" alt="project"></li>
    </ul>
</section>